<mat-toolbar color="primary" >
<span>
        <a routerLink="" mat-button>
            <mat-icon>
                screen_share
                </mat-icon>Computadores
        </a>
</span>
<div>
        <a mat-button routerLink="producto/buscar">buscar</a>
</div>
<div>
        <a mat-button routerLink="marcas">Marcas</a>
</div>
<div>
        <a mat-button routerLink="lineas">Lineas</a>
</div>
<div>
        <a mat-button routerLink="bodegas">Bodegas</a>
</div>
<div>
        <a mat-button routerLink="producto/crear">crear Producto</a>
</div>
</mat-toolbar>